@import url(//fonts.googleapis.com/css?family=Montserrat); 
body {
  font-size: 1.5rem;
  font-family: Montserrat;
}
.content {
  padding: 12px;
}
.markdown-section {
  max-width: 1000px;
  color: #00274C;
  background-color: rgba(255, 203, 5, .06);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

#main h1 span,
#main h2 span,
#main h3 span,
p {
  color: #00274C;
}

#main h1 {
  font-size: 2.5rem;
  margin-top: 12px
}
#main h1 span {
  color: #00274C;
}

#main h2 {
  font-size: 2rem;
  margin-top: 48px;
  clear: both;
}

#main h1 + ul {
    float: right;
    display: flex;
    align-items: center;
    margin-top: -80px;
    list-style-type: none;
}

#main h1 + ul ul{
    list-style-type: none;
    font-size: 80%;
}

#main h1 + ul img {
    margin-left: 12px;
    height: 80px;
}

#main li > p > img {
    margin-right: 6px;
    max-height: 24px;
}
